
    <nav class="navbar navbar-expand-lg navbar-light navbar-trans">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="d-flex special-class">
          <ul class="d-flex m-0">
      <a class="navbar-brand navbar-home" href="#">Yachtr</a>
          <% if user_signed_in?  %>
            <li><%= current_user.first_name %></li>
            <li> <%= link_to "My profile & bookings", pages_profile_path, class: "navbar-brand" %></li>
          <% else %>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
            <li><%= link_to 'Sign up', new_user_registration_path  %></li>
          <% end %>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>



<div class="navbar-home">
  <!-- three lines icon -->
  <!-- ul below to JS? -->
  <ul>
    <% if user_signed_in?  %>
      <li><%= current_user.first_name %></li>
      <li> <%= link_to "My profile & bookings", pages_profile_path %></li>
    <% else %>
      <li><%= link_to 'Sign in', new_user_session_path %></li>
      <li><%= link_to 'Sign up', new_user_registration_path  %></li>
    <% end %>
  </ul>

  <h1>YACHTR</h1>

  <!-- avatar here if signed in - are we asking users to submit photos?-->

</div>

<div class="hero">
  <%= image_tag "sailboat.jpg", alt: "sailboat", style: "width: 100vw" %>
</div>

<div class="btn-general">
  <%= link_to "See our yachts", yachts_path %>
</div>


<div class="cards-selling-points">
    <div class="card-img-to-right">
      <div class="card-description">
        <h2>Escape</h2>
        <p>Into the immensity of the ocean.</p>

      </div>
      <div class="card-img">
        <%= image_tag "woman-holding-hair.jpg", alt: "Woman on boat holding hair in the wind" %>
      </div>
    </div>

    <div class="card-img-to-left">
      <div class="card-description">
        <h2>We provide the crew</h2>
        <p>So you can focus on the experience.</p>

      </div>
      <div class="card-img">
        <%= image_tag "woman-holding-hair.jpg", alt: "Woman on a boat holding her hair in the wind" %>
      </div>
    </div>

    <div class="card-img-to-right">
      <div class="card-description">
        <h2>Unforgettable moments</h2>
        <p>In an unbeatable setting</p>

      </div>
      <div class="card-img">
        <%= image_tag "ocean-sunset.jpg", alt: "View of the sunset from just above the ocean water" %>
      </div>
    </div>

</div>
