    <nav class="navbar navbar-expand-lg navbar-light navbar-trans">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="d-flex special-class">
          <ul class="d-flex m-0">
      <%= link_to "Yachtr", root_path, class: "navbar-brand navbar-home" %>
          <% if user_signed_in?  %>
            <li><%= current_user.first_name %></li>
            <li> <%= link_to "My profile & bookings", pages_profile_path, class: "navbar-brand" %></li>
            <%= link_to "Yachts to charter", yachts_path, class: "navbar-brand navbar-home" %>
          <% else %>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
            <li><%= link_to 'Sign up', new_user_registration_path  %></li>
          <% end %>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

<div class="container">
  <div class="profile-info">
    <div>
      <h1>Profile</h1>
      <p><%= link_to "Edit Profile", edit_user_registration_path %></p>
      <p><i class="fas fa-user"></i> <%= current_user.first_name%></p>
      <p><i class="far fa-envelope"></i> <%= current_user.email %></p>
    </div>
    <div>
      <img class="avatar-large" src="https://images.unsplash.com/photo-1506919258185-6078bba55d2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1415&q=80" alt="profile picture">
    </div>
  </div>
  <div class="profile-bookings">
    <br>
    <h2>Your Bookings</h2>
    <div class="booking">
      <div class="info-container">
        <h3><%= @booking.first.yacht.name %></h3>
        <p>dates booked</p>
      </div>
      <div class="btn-container">
        <a class="btn btn-primary" href="#">Edit booking</a>
        <a class="btn btn-danger" href="#">Delete booking</a>
      </div>
    </div>
  </div>

  <div class="profile-yachts">
    <br>
    <h2>Your Yachts</h2>
    <div class="booking">
      <div class="info-container">
        <h3>yacht name</h3>
      </div>
      <div class="btn-container">
        <a class="btn btn-primary" href="#">Edit yacht</a>
        <a class="btn btn-danger" href="#">Delete yacht</a>
      </div>
    </div>
  </div>
  <br>
  <%= link_to "Back", root_path, class: "btn btn-primary" %>
</div>
