<div class="container">
  <div class="profile-info">
    <div>
      <h1>Profile</h1>
      <p><%= link_to "Edit Profile", edit_user_registration_path %></p>
      <p><i class="fas fa-user"></i> <%= current_user.first_name%></p>
      <p><i class="far fa-envelope"></i> <%= current_user.email %></p>
    </div>
    <div>
      <img class="avatar-large" src="https://images.unsplash.com/photo-1506919258185-6078bba55d2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1415&q=80" alt="profile picture">
    </div>
  </div>
  <div class="profile-bookings">
    <br>
    <h2>Your Bookings</h2>

    <% @booking.each do |booking| %>
      <div class="booking">
        <div class="info-container">
          <h3><%= booking.yacht.name.upcase %></h3>
          <p> <strong>From:</strong> <%= booking.start_date.strftime("%d %B, %Y")  %></p>
          <p> <strong>Until:</strong> <%= booking.end_date.strftime("%d %B, %Y")  %></p>
        </div>
        <div class="btn-container">
          <a class="btn btn-primary" href="#">Edit booking</a>
          <a class="btn btn-danger" href="#">Delete booking</a>
        </div>
      </div>
    <% end %>

  </div>

  <div class="profile-yachts">
    <br>
    <h2>Your Yachts</h2>
    <div class="booking">
      <div class="info-container">
        <h3>yacht name</h3>
      </div>
      <div class="btn-container">
        <a class="btn btn-primary" href="#">Edit yacht</a>
        <a class="btn btn-danger" href="#">Delete yacht</a>
      </div>
    </div>
  </div>
  <br>
  <%= link_to "Back", root_path, class: "btn btn-primary" %>
</div>
