<div class="container">
  <div class="profile">
    <div>
      <%= image_tag "borat.jpg", alt: "alttext", class: "avatar-square-large" %>
     <!--  <#% if  current_user.photo.attached? %>
        <div class="avatar-square-large" style="background-image: url('<%#= cl_image_path current_user.photo.key, height: 250, width: 250, crop: :fill %>')">
        </div>
      <#% else %>
        <div class="avatar-square-large">
          <p>ADD PROFILE PIC</p>
        </div>
      <#% end %> -->
    </div>
    <div class="profile-info">
      <h1>Profile</h1>
      <%= link_to "Edit Profile", edit_user_registration_path %>
      <ul>
        <li><i class="fas fa-user"></i> <%= current_user.first_name%> <%= current_user.last_name%></li>
        <li><i class="far fa-envelope"></i> <%= current_user.email %></li>
      </ul>

      <%= link_to "Add Yacht", new_yacht_path, class: "btn-small" %>
      <%= link_to "View Yachts", yachts_path, class: "btn-small" %>
    </div>
  </div>

  <div class="booking-yachts-container row">
    <div class="profile-bookings col-6">
      <h2 class="sub-header">Your Bookings</h2>


      <% if @booking.empty? %>
        <%= link_to(yachts_path, class: "card-product book-now-container") do %>
            <img src="https://images.unsplash.com/photo-1498994292978-4d6ff757c6dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=917&q=80" />
            <div class="card-product-book-now">
                <h3>Book Now!</h3>
                <p>Cruise in inimitable style and experience real freedom. The adventure of a lifetime awaits aboard the world’s greatest superyachts.</p>
            </div>
        <% end %>
      <% else %>
        <% @booking.each do |booking| %>
          <div class="booking">
          <div class="card-product">
            <img src="https://images.unsplash.com/photo-1498994292978-4d6ff757c6dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=917&q=80" />
            <div class="card-product-infos">
                <h3><%= booking.yacht.name.upcase %></h3>
                <ul>
                  <li> <strong>From:</strong> <%= booking.start_date.strftime("%d %B, %Y")  %></li>
                  <li> <strong>Until:</strong> <%= booking.end_date.strftime("%d %B, %Y")  %></li>
                  <li> <strong>Location:</strong> <%= booking.yacht.location %></li>
                </ul>
            </div>
            <div class="buttons d-flex flex-column">
              <%= link_to "Edit", edit_yacht_booking_path(booking.yacht, booking), class: "btn-edit" %>
              <%= link_to "Cancel", new_yacht_path, class: "btn-delete" %>
            </div>
          </div>
          </div>
        <% end %>
      <% end %>

    </div>

    <div class="profile-yachts col-6">
      <h2 class="sub-header">Your Yachts</h2>

      <% if @yacht.empty? %>
        <%= link_to(new_yacht_path, class: "card-product book-now-container") do %>
            <img src="https://images.unsplash.com/photo-1585599963711-92dabef24934?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2300&q=80" />
            <div class="card-product-book-now">
                <h3>Rent out your yacht now!</h3>
                <p>Our market-leading intelligence paired with our unrivalled client database guarantees the smoothest of rentals. Every time.</p>
            </div>
        <% end %>
      <% else %>
        <% @yacht.each do |yacht| %>
          <div class="booking">
          <div class="card-product">
            <img src="https://images.unsplash.com/photo-1498994292978-4d6ff757c6dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=917&q=80" />
            <div class="card-product-infos">
                <h3><%= yacht.name.upcase %></h3>
                <ul>
                  <li> <strong>location:</strong> <%= yacht.location %></li>
                  <li><strong> Capacity:</strong> <%= yacht.capacity %></li>
                  <li><strong> Price per day:</strong> £<%= yacht.price %></li>
                </ul>
            </div>
            <div class="buttons d-flex flex-column">
              <%= link_to "Edit", new_yacht_path, class: "btn-edit" %>
              <%= link_to "Cancel", new_yacht_path, class: "btn-delete" %>
            </div>
          </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
