<div class="overlay backgroundimage">
  <div class="inner">
    <h1 class="colormaster"><strong>Your life.</strong></h1>
    <h2 class="colormaster">Spent wisely.</h2>
    <p>Show yachts <a href="#scroll-container"><i id="down" class="fas fa-arrow-circle-down"></i></a></p>
  </div>
</div>

<!--
<div>
  <%= image_tag "index_main.jpg", class: "new" %>
</div> -->


<div class="container-one" id="scroll-container">
  <% @yachts.each do |yacht| %>
    <%= link_to yacht_path(yacht), class: "links" do %>
      <div class="card-trip">
          <%= image_tag "yacht1.png"%>
          <div class="card-trip-infos">
            <div>
              <h2 class="color1"><%= yacht.name %></h2>
              <p class="color1">Located in <%= yacht.location %></p>
              <% if yacht.crew == true %>
              <p class="color1"><%= "Crew included" %></p>
              <% end %>
             <!--  <p class="color1">Crew <%=  yacht.crew %></p> -->
              <p class="color1">£<%=  yacht.price %> per day</p>
              <p class="color1">Capacity of <%= yacht.capacity %></p>
            </div>
          </div>
      </div>
    <% end %>
  <% end %>
</div>
