<div class="overlay backgroundimage">
  <div class="inner">
    <h1 class="colormaster"><strong>Your life.</strong></h1>
    <h2 class="colormaster">Spent wisely.</h2>
    <p>Show yachts <a href="#scroll-container"><i id="down" class="fas fa-arrow-circle-down"></i></a></p>
  </div>
</div>

<!--
<div>
  <%= image_tag "index_main.jpg", class: "new" %>
</div> -->


<form id="scroll-container" action="/yachts" class="form-inline my-2 my-lg-0 d-flex flex-column">
 <input name="search" id="margindiv" class="form-control mr-sm-2" type="search" placeholder="Search by location" aria-label="Search">
 <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<div class="container-cards-and-map">

  <div class="container-one">
    <% @yachts.each do |yacht| %>
      <%= link_to yacht_path(yacht), class: "links" do %>
        <div class="card-trip">
            <%= cl_image_tag yacht.photos.first.key,crop: :scale, :class=>"fit"%>
            <div class="card-trip-infos">
              <div>
                <h2 class="color1"><%= yacht.name %></h2>
                <p class="color1">Located in <%= yacht.location %></p>
                <% if yacht.crew == true %>
                <p class="color1"><%= "Crew included" %></p>
                <% end %>
               <!--  <p class="color1">Crew <%=  yacht.crew %></p> -->
                <p class="color1">£<%=  yacht.price %> per day</p>
                <p class="color1">Capacity of <%= yacht.capacity %></p>
              </div>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div id="map"
       style="width: 50%; height: 98vh;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
