<div class="container">
  <div class="yachts-head">
    <h1><%= @yacht.name.upcase %></h1>
    <div>
      <%= link_to "Back", yachts_path, class: "btn-small margin-none" %>
    </div>
  </div>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
          <% @yacht.photos.each do |photo| %>

            <% if photo.id === @yacht.photos.first.id %>
              <div class="carousel-item active">
                <%= cl_image_tag photo.key, height: 600, crop: :mfit, :class=>"d-block w-100 fit"%>
              </div>
            <% else %>
              <div class="carousel-item">
                <%= cl_image_tag photo.key, height: 600, crop: :mfit, :class=>"d-block w-100 fit"%>
              </div>
            <% end %>
          <% end %>
    </div>
    <a class="slider-btn carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="slider-btn carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="yacht-about">
    <div>
      <h2 class="sub-header">About <%= @yacht.name.upcase %></h2>
      <ul>
        <li><strong>Capacity:</strong> <%= @yacht.capacity %> persons</li>
        <li><strong>Price per day:</strong> £<%= @yacht.price %></li>
        <li><strong>Location:</strong> <%= @yacht.location %></li>
        <li><strong>Crew:</strong> <%=  @yacht.crew.nil? ? "No crew available" : "Crew available" %></li>
      </ul>
    </div>
    <div>
      <%= link_to "BOOK NOW", new_yacht_booking_path(@yacht), class: "btn-general" %>
    </div>
  </div>

  <div class="yacht-things-to-know">
    <h2 class="sub-header">Things to know</h2>
    <ul>
      <li>
        Check-in: After 14:00
      </li>
      <li>
        Check-out: 10:00
      </li>
    </ul>
  </div>

  <div class="yacht-cancellation">
    <h2 class="sub-header">Cancellation Policy</h2>
    <ul>
      <li>
        Free cancellation for 48 hours
      </li>
      <li>
        After that, cancel up to 7 days before check-in and get a 50% refund, minus the service fee.
      </li>
    </ul>
  </div>
</div>

<%= render 'shared/footer-payment' %>
