<div class="container">
  <div class="yachts-head">
    <h1><%= @yacht.name.upcase %></h1>
    <div>
      <%= link_to "Back", yachts_path, class: "btn-small margin-none" %>
    </div>
  </div>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
          <% @yacht.photos.each do |photo| %>

            <% if photo.id === @yacht.photos.first.id %>
              <div class="carousel-item active">
                <%= cl_image_tag photo.key,:quality=>60, height: 600, crop: :mfit, :class=>"d-block w-100 fit"%>
              </div>
            <% else %>
              <div class="carousel-item">
                <%= cl_image_tag photo.key,:quality=>60, height: 600, crop: :mfit, :class=>"d-block w-100 fit"%>
              </div>
            <% end %>
          <% end %>
    </div>
    <a class="slider-btn carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="slider-btn carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="yacht-about">
    <div>
      <h2 class="sub-header">About <%= @yacht.name.upcase %></h2>
      <ul>
        <li><strong>Capacity:</strong> <%= @yacht.capacity %> persons</li>
        <li><strong>Price per day:</strong> £<span id="price-per-day"><%= number_with_delimiter(@yacht.price)%></span></li>
        <li><strong>Location:</strong> <%= @yacht.location %></li>
        <li><strong>Crew:</strong> <%=  @yacht.crew.nil? ? "No crew available" : "Crew available" %></li>
      </ul>
    </div>
    <div>
      <%= link_to "BOOK NOW", new_yacht_booking_path(@yacht), class: "btn-general" %>
    </div>
  </div>

  <div class="yacht-things-to-know">
    <h2 class="sub-header">Things to know</h2>
    <ul>
      <li>
        Check-in: After 14:00
      </li>
      <li>
        Check-out: 10:00
      </li>
    </ul>
  </div>

  <div class="yacht-cancellation">
    <h2 class="sub-header">Cancellation Policy</h2>
    <ul>
      <li>
        Free cancellation for 48 hours
      </li>
      <li>
        After that, cancel up to 7 days before check-in and get a 50% refund, minus the service fee.
      </li>
    </ul>
  </div>

  <div class="reviews">
    <!-- if there are no reviews, -->
    <!-- don't display the reviews header -->
    <% unless @yacht.reviews.empty? %>
      <h2 class="sub-header">Reviews</h2>

      <!-- display stars, if there are reviews  -->
      <div class="review-stars">
        <% @yacht.average_stars.times do |time| %>
          <i class="fas fa-star"></i>
        <% end %>
        <% (5 - @yacht.average_stars).times do |time| %>
          <i class="far fa-star"></i>
        <% end %>

      <!-- end of review-stars -->
      </div>

      <!-- display reviews, if they exist -->
      <div class="review-content mt-3">
        <ul>
          <% @yacht.reviews.each do |review| %>
            <li><%= review.content %></li>
          <% end %>
        </ul>
      </div>

      <% end %>
      <!-- end of unless statement -->

    <% if current_user %>
      <% bookings = Booking.all.where(user: current_user) %>
      <% booked_yachts = bookings.map(&:yacht) %>
      <% if booked_yachts.include?(@yacht) %>
        <br>
        <%= link_to "Leave a review", new_yacht_review_path(@yacht), class: "btn-small-dark" %>
      <% end %>
    <% end %>


  <!-- end of reviews div -->
  </div>

 <!-- end of container -->
</div>

<%= render 'shared/footer-payment' %>
